/* Clean up */
#main-view .row.divider:before,
#main-view .row.divider:after,
#main-view .row.divider .clearfix,

div.navbar-inner a#version,
/* suppression */ [id^="itemtable"] tbody tr td#type > br,
/*divider dans le menu dropdown*/.navbar .nav .dropdown-menu li.divider{
	display: none !important;
}

div.navbar,
div.navbar-inner{
  margin: 0;
  padding: 0;
  
  border: none;
}
