/* Clean up */
#main-view .row.divider:before,
#main-view .row.divider:after,
#main-view .row.divider .clearfix,
div.navbar-inner a#version,
/* suppression */ [id^="itemtable"] tbody tr td#type > br,
/*divider dans le menu dropdown*/.navbar .nav .dropdown-menu li.divider{
	display:none !important;
}
body,
div.navbar,
div.navbar-inner,
div#holder > div.container-fluid,
div#holder > div.container-fluid > .bannercontent,
div#holder #main-view > #dashcontent,
div#holder #main-view > #lightcontent,
div#holder #main-view > #scenecontent,
div#holder #main-view > #tempwidgets,
div#holder #main-view > #weatherwidgets,
div#holder #main-view > #utilitycontent{
	margin:0 !important;
	padding:0 !important;
	border:none;
  width: 100%;
}

div#holder > div.container-fluid > .bannercontent{
margin: 1% auto !important;
width: 90%;
}

#main-view div.row.divider > *,
#main-view div.row.divider > * > *,
#main-view div.row.divider > * > * > *,
#main-view div.row.divider > * > * > * > *,
#main-view #lightcontent div.row.divider > * > * > * > * > *,
#main-view #dashcontent div.row.divider > * > * > * > * > *,
#main-view #utilitycontent div.row.divider > * > * > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget,
#main-view #tempwidgets.row.divider > dztemperaturewidget > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget,
#main-view #weatherwidgets.row.divider > dzweatherwidget > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > * > * > *{
	margin:0;
	padding:0;
	border:none;
  width: 100%;
	height: 100%;
	border:none;
	border-radius:0;
}

