@import url("../css/legacy.css"); /* Don't remove this line! */
@import url("css/navbar.css"); /* Adds visual extras. */

:root {
  --main-color:#021a37;
  --secondary-color:#f1f5fa;
  --main-blue-color:#2f91c4;
  --secondary-blue-color:#0bcdc7;
  --main-item-color:white;
}

body{
  background: var(--secondary-color) !important;
  width: 100%;
  color:black;
}

/* Clean up */
#main-view .row.divider:before,
#main-view .row.divider:after,
#main-view .row.divider .clearfix,
div.navbar-inner a#version,
/*divider dans le menu dropdown*/.navbar .nav .dropdown-menu li.divider{
	display:none !important;
}

div.navbar{
	padding:0!important;
}

div.navbar-inner{
	border:none;
}


/*New design*/

@import url("css/navbar.css"); /* Adds visual extras. */




.item{
	margin:0!important;
	}

/* Bannercontent */
#main-view .row.divider {
	display: grid;
	gap:10px;

  justify-items: center;
}

@media (max-width: 767px){
	div.bannercontent .row.divider{
		grid-template-columns:repeat(1,1fr);
	  }
}
@media (min-width: 768px){
	div.bannercontent .row.divider{
		grid-template-columns:repeat(2,1fr);
	  }
}
@media (min-width: 980px){
	div.bannercontent .row.divider{
		grid-template-columns:repeat(3,1fr);
	  }
}
@media (min-width: 1200px){
	div.bannercontent .row.divider{
		grid-template-columns:repeat(4,1fr);
	  }
}

/* Item */
table[id^="itemtable"] tbody tr {
  margin:0 !important;
  background-color:var(--main-item-color) !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  
}
/* Option bar */
table[id^="itemtable"] tbody tr td.options{
  display:flex !important;
  vertical-align:middle;
  text-align: center;
  justify-content: space-around;
  border-top:1px solid var(--main-blue-color);
  margin-top:5px !important;
}
table[id^="itemtable"] tbody tr td.options img{
  height: 100%;
	width: auto;
	margin: auto;
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]{
  background:none;
  color:var(--secondary-blue-color);
  border-radius: 0px;
  flex-shrink:1;
  flex-grow:1;
  margin: auto;
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]:hover{
	background: black;
  color:white;
	
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall-sel"]{
	background: violet;	
}
/* Btn on switch selector */
table[id^="itemtable"] tbody tr div[id^="select"].btn-group{
    display:block;
    overflow:auto;
}

table[id^="itemtable"] tbody tr div[id^="select"].btn-group::-webkit-scrollbar{
    display:none;
}
/* Second and third img */
table[id^="itemtabledouble"] tbody tr #img2 img,
table[id^="itemtable"] tbody tr #img3 img{
    width:auto;
    height:32px;
}
