@import url("../css/legacy.css"); /* Don't remove this line! */
@import url("css/navbar.css"); /* Adds visual extras. */

:root {
  --main-color:#021a37;
  --secondary-color:#f1f5fa;
  --main-blue-color:#2f91c4;
  --secondary-blue-color:#0bcdc7;
  --main-item-color:white;
}

body{
  background: var(--secondary-color) !important;
  width: 100%;
  color:black;
}

#copyright{
  position: relative;
}

/* Clean up */
#main-view .row.divider:before,
#main-view .row.divider:after,
#main-view .row.divider .clearfix,
div.navbar-inner a#version,
/*divider dans le menu dropdown*/.navbar .nav .dropdown-menu li.divider{
	display:none !important;
}

div.navbar,
div.navbar-inner,
div#holder > div.container-fluid,
div#holder > div.container-fluid > .bannercontent,
div#holder #main-view > *,

#main-view #dashcontent .row.divider > *,
#main-view #dashcontent .row.divider > * > *,
#main-view #dashcontent .row.divider > * > * > *,
#main-view #dashcontent .row.divider > * > * > * > *,
#main-view #dashcontent .row.divider > * > * > * > * > *,
#main-view #lightcontent .row.divider > *,
#main-view #lightcontent .row.divider > * > *,
#main-view #lightcontent .row.divider > * > * > *,
#main-view #lightcontent .row.divider > * > * > * > *,
#main-view #lightcontent .row.divider > * > * > * > * > *,
#main-view #scenecontent .row.divider > *,
#main-view #scenecontent .row.divider > * > *,
#main-view #scenecontent .row.divider > * > * > *,
#main-view #scenecontent .row.divider > * > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget,
#main-view #tempwidgets.row.divider > dztemperaturewidget > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > * > *,
#main-view #tempwidgets.row.divider > dztemperaturewidget > * > * > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget,
#main-view #weatherwidgets.row.divider > dzweatherwidget > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > * > *,
#main-view #weatherwidgets.row.divider > dzweatherwidget > * > * > * > * > *,
#main-view #utilitycontent .row.divider > *,
#main-view #utilitycontent .row.divider > * > *,
#main-view #utilitycontent .row.divider > * > * > *,
#main-view #utilitycontent .row.divider > * > * > * > *,
#main-view #utilitycontent .row.divider > * > * > * > * > *{
	margin:0 !important;
	padding:0 !important;
	border:none;
  width: 100%;
}

div#holder > div.container-fluid > .bannercontent{
margin: 1% auto !important;
width: 90%;
}

/*New design*/

/* */
#main-view .row.divider {
	display: grid;
	gap:20px;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
	grid-template-columns:repeat(4,370px);
}

/* Item */
table[id^="itemtable"] tbody tr {
  margin:0 !important;
  background-color:var(--main-item-color) !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  
}
/* Option bar */
table[id^="itemtable"] tbody tr td.options{
  display:flex !important;
  vertical-align:middle;
  text-align: center;
  justify-content: space-around;
  border-top:1px solid var(--main-blue-color);
  margin-top:5px !important;
}
table[id^="itemtable"] tbody tr td.options img{
  height: 100%;
	width: auto;
	margin: auto;
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]{
  background:none;
  color:var(--secondary-blue-color);
  border-radius: 0px;
  flex-shrink:1;
  flex-grow:1;
  margin: auto;
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]:hover{
	background: black;
  color:white;
	
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall-sel"]{
	background: violet;	
}
/* Btn on switch selector */
table[id^="itemtable"] tbody tr div[id^="select"].btn-group{
    display:block;
    overflow:auto;
}

table[id^="itemtable"] tbody tr div[id^="select"].btn-group::-webkit-scrollbar{
    display:none;
}
/* Second and third img */
table[id^="itemtabledouble"] tbody tr #img2 img,
table[id^="itemtable"] tbody tr #img3 img{
    width:auto;
    height:32px;
}
