@import url("css/navbar.css"); /* Adds visual extras. */
@import url("css/media/min 992.css"); /* Adds visual extras. */
@import url("css/media/max 480.css"); /* Adds visual extras. */
@import url("css/clean.css"); /*Clean old css style on domoticz*/
@import url("css/page_login.css");
	
:root {
  --main-color:#021a37;
  --secondary-color:#f1f5fa;
  --main-blue-color:#2f91c4;
  --secondary-blue-color:#0bcdc7;
  --main-item-color:white;
}


/*New design*/

body{
  background: var(--secondary-color) !important;
  color:black;
}

/* */
#main-view .row.divider {
	display: grid;
	gap:20px;
  justify-content: center;
	grid-template-columns:repeat(3, 25vw);
  grid-auto-rows: 1fr;
}

/* Item */
table[id^="itemtable"] tbody tr {
  border-radius:6px !important;
  margin:0 !important;
  
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
    grid-template-areas:
      '. . . . . . .'
    '. name name bigtext bigtext bigtext .'
    '. status status status status status .'
    '. type-action type-action type-action type-action type-action .'
    '. type type type type type .'
    '. img1 img2 img3 lastupdate lastupdate .'
    '. option option option option option .'
      '. . . . . . .';
  
  align-items: end;
  justify-items: end;
  justify-content: stretch;	
  align-content: stretch;	
  
  position: relative !important;
  
  
  
  
  gap:1px;
  justify-self: stretch;
  align-self: stretch;
  background-color:var(--main-item-color) !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  
}

[id^="itemtable"] tbody tr td#name{grid-area: name; justify-self: start;}
[id^="itemtable"] tbody tr td#bigtext{grid-area: bigtext;}
[id^="itemtable"] tbody tr td#status{grid-area: status;}
/* Slider */
[id^="itemtable"] tbody tr td#type > div#slider,
/* Selector */
[id^="itemtable"] tbody tr td#type > div span[id^="selector"],
/* BTN Selector */
[id^="itemtable"] tbody tr td#type > div[id^="selector"]{grid-area: type-action;}
[id^="itemtable"] tbody tr td#img img,[id^="itemtable"] tbody tr td#img{grid-area: img1; justify-self: stretch;}
[id^="itemtable"] tbody tr td#img2 img,[id^="itemtable"] tbody tr td#img2{grid-area: img2; justify-self: stretch;}
[id^="itemtable"] tbody tr td#img3 img,[id^="itemtable"] tbody tr td#img3{grid-area: img3; justify-self: stretch;}
[id^="itemtable"] tbody tr td#type{grid-area: type;}
[id^="itemtable"] tbody tr td#lastupdate{grid-area: lastupdate;}
table[id^="itemtable"] tbody tr td.options{grid-area: option; justify-self: stretch;}















/* item status */
div.item.statusNormal tbody tr {
background-color: transparent;
}

div.item.statusTimeout tbody tr {
background-color: red !important;
}

div.item.statusLowBattery tbody tr {
background-color: yellow !important;
}
div.item.statusProtected tbody tr {
background-color: gray !important;
}


/* Type div slider, btn selector and selector */
[id^="itemtable"] tbody tr td#type > div{
  height: 26px;
  width: 100%;
}
/* Slider */
[id^="itemtable"] tbody tr td#type > div#slider,
/* Selector */
[id^="itemtable"] tbody tr td#type > div span[id^="selector"],
/* BTN Selector */
[id^="itemtable"] tbody tr td#type > div[id^="selector"]{
  width: 100%;
  margin:0 !important;
}



















/* Option bar */
table[id^="itemtable"] tbody tr td.options{
  display:flex !important;
  vertical-align:middle;
  text-align: center;
  justify-content: space-around;
  border-top:1px solid var(--main-color);
  margin-top:5px !important;
}

table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]{
  background:none;
  color:var(--main-color);
  border-radius: 0px;
  flex-shrink:1;
  flex-grow:1;
  margin: auto;
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall"]:hover{
	background: black;
  color:white;
	
}
table[id^="itemtable"] tbody tr td.options a[class^="btnsmall-sel"]{
	background: violet;	
}



